@import "tailwindcss";

/* Make sure the app fills the viewport and uses border-box sizing */
html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: rgb(34, 33, 33)
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background-color: #0b0b0b;
  color: #fff;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial;
}
