.sidebar-icons{
    font-size:23px;
    color: white;
   
}
.hamburger-div{
   
    margin-top: 10px;
   padding-left: 10px;
    
    
}
.hamburger-div ul li{
    border-radius: 10px;

    padding: 0px 8px;
    height:40px;
  
    display: flex;
    align-items: center;
    
}
.hamburger-div ul li:hover {
    background-color: rgb(34, 34, 34);
   

}
.active-li {
    padding: 0px 5px;
    height: 40px;
    width:100%;
    background-color: rgb(34, 34, 34);
    font-weight: bold;
    border-radius:10px;
}
